body {
    color: #ffffff;
    background-color: #dfdfdf;
    
    background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
    font-family: 'Roboto', sans-serif;
    color: #4b4b4b;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    user-select: none;
}
.app{
    display: block;
    
    width: 100%;
    height: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA7CAMAAACNKhBwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF8PDw7u7uWpQKmwAAABBJREFUeNpiYGSgP2QACDAADg4AO0yU4IQAAAAASUVORK5CYII=)
}
.app-wrapper {
    position: fixed;
    z-index: -1;
    background-color: #009688;
    width: 100%;
    height: 127px;
    content: '';
    top: 0;
    left: 0;
}

